.comments-container {
    width: 420px;
    height: 100%;

    .comments-list {
        height: 100%;
        width: 420px;
        margin: 0;

        .comment {
            transition: 0.4s;
            display: flex;
            justify-content: space-between;
            height: 40px;
            color: black;
            font-size: 14px;
            margin: 5px 0;
            padding: 5px 0 5px 5px;

            .comment-content {

                .comment-user {
                    color: rgba(0, 109, 172, 1);
                    text-decoration: none;
                    line-height: 24px;
                    font-weight: 600;
                    margin: 2px 0;
                }

                .comment-body {
                    margin: 0;
                }
            }

            .comment-actions {

                button {
                    background: none;
                    color: inherit;
                    border: none;
                    padding: 0;
                    font: inherit;
                    cursor: pointer;
                    outline: inherit;
                    margin-right: 4px;

                    svg {
                        display: none;
                        color: rgba(203, 205, 206, 1);
                        width: 24px;
                        height: 24px;
                    }

                    svg:hover {
                        color: rgba(143, 147, 150, 1);
                    }
                }

                .comment-delete-button {
                    margin-right: 8px;
                }
            }
        }

        .comment:hover {
            background-color: rgba(255, 255, 255, 1);

            .comment-actions {

                button {
                    svg {
                        display: block;
                    }
                }
            }
        }
    }

    form {
        margin-top: 15px;

        textarea {
            border: none;
            overflow: auto;
            outline: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            resize: none;
            width: 398px;
            height: 90px;
            padding: 6px 10px;
            border: 1px solid rgba(158, 164, 167, 1);
            border-radius: 3px;
            font-family: sans-serif;
        }

        textarea:focus {
            border: 1px solid rgba(0, 141, 223, 1);
        }

        textarea::-webkit-input-placeholder {
            font-family: sans-serif;
        }

        textarea:-moz-placeholder { /* Firefox 18- */
            font-family: sans-serif;  
        }

        textarea::-moz-placeholder {  /* Firefox 19+ */
            font-family: sans-serif;  
        }

        textarea:-ms-input-placeholder {
            font-family: sans-serif;  
        }

        textarea::placeholder {
            font-family: sans-serif;  
        }

        #comment-submit {
            box-sizing: content-box;
            width: auto;
            height: 32px;
            padding: 0 20px;
            margin-top: 10px;
            font-size: 16px;
            text-align: center;
            float: right;
            margin-bottom: 40px;
        }

        #comment-submit[disabled] {
            opacity: 0.5;
        }

        #comment-submit[disabled]:hover {
            background-color: rgba(30, 138, 206, 1);
        }
    }
}